body{
    background-color: #F6F8F9;
}

header{
    background-color: white;
    margin-bottom: 70px;
}

h1{
    display:inline;
}

img{
    vertical-align: middle;
}

main{
    margin-left: 150px;
}

.principal-buttons{
    background-color: white;
    margin-bottom: 5px;
    margin-right: 1000px;
    contain: cover;
    padding: 10px;
    border-radius:10px;
}

.first-button{
    background-color: #47adf1;
    color:white;
    border-color: #47adf1;
    border-radius: 5px; 
    padding:5px;
}

.second-button{
    background-color: white;
    color:#dbdfe2;
    border-color: #dbdfe2;
    border-radius:5px;
    padding:5px;
}

.list{
    background-color: white;
    margin-right: 1000px;
    padding:10px;
    border-radius:10px;
}

.purple-button{
    background-color: #9C72E4;
    color:white;
    border-color: #9C72E4;
    border-radius: 5px; 
    padding:5px;
}

.green-button{
    background-color: #64C0A9;
    color:white;
    border-color: #64C0A9;
    border-radius: 5px; 
    padding:5px;
}

.orange-button{
    background-color: #F29D33;
    color:white;
    border-color: #F29D33;
    border-radius: 5px; 
    padding:5px;
}

.lightgreen-button{
    background-color: #B0C926;
    color:white;
    border-color: #B0C926;
    border-radius: 5px; 
    padding:5px;
}

.pink-button{
    background-color: #D863A1;
    color:white;
    border-color: #D863A1;
    border-radius: 5px; 
    padding:5px;
}

